<footer class="footer">
    <div class="container">
        <p class="footer__rights">© 2018 <span>«LoremIpsum.net»</span> Все права защищены.</p>
        <div class="footer__contacts contacts">
            <div class="contacts__item">
                <img src="img/footer1.svg" alt="">
                <span class="contacts__text">Qiwi wallet</span>
            </div>
            <div class="contacts__item">
                <img src="img/footer2.svg" alt="">
                <span class="contacts__text">Yandex Money</span>
            </div>
            <div class="contacts__item">
                <img src="img/footer3.svg" alt="">
                <span class="contacts__text">Web Money</span>
            </div>
        </div>
        <div class="footer__links links">
            <div class="links__item">
                <img src="img/footer4.svg" alt="">
                <a class="links__text" href="#">info@ipsum228.com</a>
            </div>
            <div class="links__item">
                <img src="img/footer5.svg" alt="">
                <a href="#" class="links__text">Мы вконтакте</a>
            </div>
        </div>
    </div>
</footer>
