<footer class="footer">
    <div class="container">
        <p class="footer__rights">© 2018 <span>«LoremIpsum.net»</span> Все права защищены.</p>
        <div class="footer__contacts contacts">
            <div class="contacts__item">
                <svg class="contacts__img">
                    <use href="img/icons/icons.svg#footer1"></use>
                </svg>
                <span class="contacts__text">Qiwi wallet</span>
            </div>
            <div class="contacts__item">
                <svg class="contacts__img">
                    <use href="img/icons/icons.svg#footer2"></use>
                </svg>
                <span class="contacts__text">Yandex Money</span>
            </div>
            <div class="contacts__item">
                <svg class="contacts__img">
                    <use href="img/icons/icons.svg#footer3"></use>
                </svg>
                <span class="contacts__text">Web Money</span>
            </div>
        </div>
        <div class="footer__links links">
            <div class="links__item">
                <svg class="contacts__img">
                    <use href="img/icons/icons.svg#footer4"></use>
                </svg>
                <a class="links__text" href="#">info@ipsum228.com</a>
            </div>
            <div class="links__item">
                <svg class="contacts__img">
                    <use href="img/icons/icons.svg#footer5"></use>
                </svg>
                <a href="#" class="links__text">Мы вконтакте</a>
            </div>
        </div>
    </div>
</footer>
