<section class="hero">
    <div class="container">
        <h1 class="hero__title"><span>Lorem ipsum</span> dolor sit ametconsectetur <span>adipiscing</span></h1>
        <div class="hero__info">
            <p class="hero__subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus!</p>
            <ul class="hero__list">
                <li class="hero__text">Totam rem aperiam eaque ipsa</li>
                <li class="hero__text">Sit voluptatem accusantium doloremque laudantium</li>
                <li class="hero__text">Sed ut perspiciatis, unde omnis iste natus error</li>
            </ul>
        </div>
        <div class="hero__actions">
            <button class="hero__button hero__button__blue"><span>заказать</span></button>
            <button class="hero__button hero__button__white"><span>подробнее</span></button>
        </div>
    </div>
</section>
