<section class="order">
    <div class="container">
        <h2 class="order__title">Оформление <span>Заказа</span></h2>
        <p class="order__subtitle">Перед заполнением формы ознакомьтесь с нашей схемой работы!</p>
        <div class="order__list js-scroll fade-in-bottom">
            <div class="order__item item">
                <div class="item__circle">
                    <img src="../img/order1.svg" alt="order1.svg">
                </div>
                <span class="item__text">Lorem ipsum dolor sit amet</span>
                <div class="item__dots">
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                </div>
            </div>
            <div class="order__item item">
                <div class="item__circle">
                    <img src="../img/order2.svg" alt="order2.svg">
                </div>
                <span class="item__text">Сonsecteturadipiscing elit</span>
                <div class="item__dots">
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                </div>
            </div>
            <div class="order__item item">
                <div class="item__circle">
                    <img src="../img/order3.svg" alt="order3.svg">
                </div>
                <span class="item__text">Sed do eiusmod tempor</span>
                <div class="item__dots">
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                </div>
            </div>
            <div class="order__item item">
                <div class="item__circle">
                    <img src="../img/order4.svg" alt="order4.svg">
                </div>
                <span class="item__text">Esse cillum dolore eu fugiat</span>
                <div class="item__dots">
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                    <div class="item__dot"></div>
                </div>
            </div>
            <div class="order__item item">
                <div class="item__circle">
                    <img src="../img/order5.svg" alt="order5.svg">
                </div>
                <span class="item__text">Excepteur sint occaecat cupidatat non proident</span>
            </div>
        </div>
        <form class="order__form form">
            <div class="form__top">
                <div class="dropdown">
                    <div class="select">
                        <span>Select Gender</span>
                        <i class="fa fa-chevron-left"></i>
                    </div>
                    <input type="hidden" name="gender">
                    <ul class="dropdown-menu">
                        <li id="male">Male</li>
                        <li id="female">Female</li>
                    </ul>
                </div>
                <input class="form__input" type="email" name="email" placeholder="Ваш e-mail"/>
                <input class="form__input" type="text" name="name" placeholder="Ваше имя"/>
            </div>
            <div class="form__bottom">
                <div class="form__slider">
                    <div class="form__info">
                        <span>Sed ut perspiciatis, unde omnis iste natus</span>
                        <span id="demo"></span>
                    </div>
                    <input type="range" min="1" max="100" value="75" class="slider" id="myRange">
                </div>
                <button class="form__button form__button__file">
                    <img src="../img/file.svg" alt="">
                    <span>Прикрепить файл</span>
                </button>
            </div>
            <button class="form__button form__button__send">
                <span>Отправить</span>
            </button>
        </form>
    </div>
</section>
