.hero {
  height: 850px;
  padding-top: 203px;
  background-image: url("../img/hero.png");

  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 80px;
  }

  &__title {
    font-weight: bold;
    @include fontSize(48px, 58px);
    text-transform: uppercase;
    max-width: 780px;
    color: $black;

    span {
      color: $blue;
    }
  }

  &__subtitle {
    @include fontSize(20px, 24px);
    font-weight: bold;
    color: $black;
    margin-bottom: 10px;
  }

  &__list {
    list-style-type: none;
  }

  &__text {
    @include fontSize(20px, 24px);
    color: $black;
    margin-bottom: 5px;
    padding-left: 7px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: "-";
      position: relative;
      left: 2px;
      margin-right: 12px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__button {
    width: 183px;
    height: 43px;
    border-radius: 4px;
    @include fontSize(13px, 16px);
    text-transform: uppercase;
    cursor: pointer;

    &__blue {
      border: 1px solid $white;
      background: $blue;
      color: $white;
    }

    &__white {
      border: 1px solid $border;
      background: $white;
      color: $btn-text;
    }
  }

  &__info {
    margin-top: 9px;
  }
}
