.order {
  padding: 121px 0 151px;
  background-image: url("../img/bg.png");
  background-position: center;
  background-size: cover;
  @include media("max", "md") {
    padding: 40px 0;
  }

  &__title {
    font-weight: 800;
    text-align: center;
    @include fontSize(36px, 43px);
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
    @include media("max", "md") {
      @include fontSize(24px, 32px);
      margin-bottom: 24px;
    }

    span {
      color: $blue;
    }
  }

  &__subtitle {
    color: $gray;
    @include fontSize(18px, 22px);
    text-align: center;
    @include media("max", "md") {
      @include fontSize(16px, 24px);
    }
  }

  &__list {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 30px;
    @include media("max", "xl") {
      grid-template-columns: repeat(6, 1fr);
      grid-row-gap: 30px;
    }
    @include media("max", "md") {
      margin-top: 40px;
    }
    @include media("max", "sm") {
      grid-template-columns: 1fr;
    }
  }

  .item {
    @include flex(center, flex-start, column);
    position: relative;
    @include media("max", "xl") {
      grid-column: span 2;
    }
    @include media("max", "sm") {
      grid-column: initial;
    }

    &:nth-last-child(2):nth-child(3n + 1) {
      @include media("max", "xl") {
        grid-column-end: 4;
      }
      @include media("max", "sm") {
        grid-column: initial;
      }
    }

    &:last-child:nth-child(3n - 1) {
      @include media("max", "xl") {
        grid-column-end: -2;
      }
      @include media("max", "sm") {
        grid-column: initial;
      }
    }

    &__circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: $blue;
      border: 5px solid $blue-border;
      @include flex(center, center);

      img {
        width: 55px;
        height: 55px;
      }
    }

    &__text {
      margin-top: 20px;
      @include fontSize(16px, 19px);
      color: $white;
      text-align: center;
    }

    &__dots {
      position: absolute;
      top: 47px;
      right: -68px;
      display: flex;
      align-items: center;
      gap: 20px;
      @include media("max", "xl") {
        display: none;
      }
    }

    &__dot {
      width: 6px;
      height: 6px;
      background: $gray-dark;
      border-radius: 50%;
    }
  }

  .form {
    margin-top: 85px;

    &__input {
      background: rgba(255, 255, 255, 0.85);
      border: 1px solid $white;
      border-radius: 3px;
      height: 48px;
      width: 100%;
      padding: 12px 10px;
      outline: none;
      @include fontSize(18px, 22px);

      &::placeholder {
        color: $dark;
      }
    }

    &__top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;
      @include media("max", "md") {
        grid-template-columns: 100%;
        grid-row-gap: 30px;
      }
    }

    &__bottom {
      display: flex;
      margin-top: 30px;
      gap: 22.5px;
      @include media("max", "lg") {
        flex-direction: column;
      }
    }

    &__button {
      @include flex(center, center);
      gap: 10px;
      text-transform: uppercase;
      font-weight: 600;
      @include fontSize(15px, 18px);
      height: 48px;
      max-width: 370px;
      width: 100%;
      border-radius: 3px;

      &__file {
        background: $white;
        border: 2px solid $blue;
        color: $dark;
        cursor: pointer;
        @include media("max", "lg") {
          margin-top: 30px;
        }
        @include media("max", "md") {
          max-width: none;
        }
      }

      &__send {
        border-radius: 4px;
        background: $blue;
        border: 1px solid $white;
        color: $white;
        margin: 55px auto 0;
        cursor: pointer;

        &:hover {
          transition: 0.18s all linear;
          background: darken($color--primary, 5%) radial-gradient(circle, transparent 1%, darken($color--primary, 5%) 1%) center/15000%;
        }
      }
    }

    .dropdown {
      width: 100%;
      display: inline-block;
      background: rgba(255, 255, 255, 0.85);
      border-radius: 3px;
      border: 1px solid $white;
      transition: all .5s ease;
      position: relative;
      height: 100%;
      text-align: left;
      outline: none;
      user-select: none;

      .select {
        cursor: pointer;
        display: block;
        padding: 10px;
        width: 100%;
        height: 100%;
        @include flex(center, space-between);
        gap: 20px;

        span {
          @include fontSize(18px, 22px);
          color: $dark;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 220px;
        }
      }

      &.active {
        border-top: $footer;
        border-left: $footer;
        border-right: $footer;
        border-bottom: none;
        border-radius: 3px 3px 0 0;
        background: rgba(61, 64, 80, 0.85);

        .select {
          span {
            color: $white;
          }
        }
      }

      &.active:hover, &.active {

      }

      &-menu {
        display: none;
        position: absolute;
        background: rgba(39, 39, 51, 0.9);
        border: 1px solid $footer;
        border-radius: 0 0 3px 3px;
        width: 100%;
        left: 0;
        z-index: 9;
        @include fontSize(18px, 22px);
        color: $white;
        padding: 4px 4px 4px 0;


        li {
          padding: 10px;
          transition: all .2s ease-in-out;
          cursor: pointer;

          &:hover {
            color: $blue-semi;
          }
        }
      }

      &-list {
        overflow-x: hidden;
        overflow-y: auto;
        height: 180px;

        &::-webkit-scrollbar {
          width: 7px;
        }

        &::-webkit-scrollbar-track {
          background-color: $footer;
          border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb {
          background: $blue;
          border-radius: 3px;
        }
      }
    }

    .dropdown.active .select > svg {
      transform: rotate(180deg);

      path {
        fill: $white;
      }
    }

    .dropdown .dropdown-menu {
      list-style: none
    }

    &__slider {
      width: 100%;
    }

    &__info {
      @include flex(flex-start, space-between);
      gap: 10px;
      padding-right: 6px;

      span {
        color: $white;
        @include fontSize(18px, 22px);

        &:last-child {
          font-weight: 600;
          color: rgba(255, 255, 255, 0.85);

          &:after {
            content: '%';
            margin-left: 3px;
          }
        }
      }
    }

    .slider {
      width: 99%;
      height: 6px;
      background: rgba(255, 255, 255, 0.7);
      border: 1px solid $white;
      transition: opacity .2s;
      appearance: none;
      outline: none;
      margin: 19px 0 0 3.5px;
      border-radius: 3px;
      display: block;

      &::-webkit-slider-thumb {
        appearance: none;
        width: 24px;
        height: 24px;
        background: $blue-semi;
        border: 1px solid #286690;
        cursor: pointer;
        border-radius: 50%;
      }
    }
  }
}
