.order {
  padding: 121px 0 151px;
  background-image: url("../img/bg.png");

  .container {

  }

  &__title {
    font-weight: 800;
    text-align: center;
    @include fontSize(36px, 43px);
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;

    span {
      color: $blue;
    }
  }

  &__subtitle {
    color: $gray;
    @include fontSize(18px, 22px);
    text-align: center;
  }

  &__list {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 30px;
  }

  .item {
    @include flex(center, flex-start, column);
    position: relative;

    &__circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: $blue;
      border: 5px solid $blue-border;
      @include flex(center, center);

      img {
        width: 55px;
        height: 55px;
      }
    }

    &__text {
      margin-top: 20px;
      @include fontSize(16px, 19px);
      color: $white;
      text-align: center;
    }

    &__dots {
      position: absolute;
      top: 47px;
      right: -68px;
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &__dot {
      width: 6px;
      height: 6px;
      background: $gray-dark;
      border-radius: 50%;
    }
  }

  .form {
    &__input {
      background: rgba(255, 255, 255, 0.85);
      border: 1px solid $white;
      border-radius: 3px;
      height: 48px;
      width: 100%;
      padding: 12px 10px;
      outline: none;
      @include fontSize(18px, 22px);

      &::placeholder {
        color: $dark;
      }
    }

    &__top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;
    }

    &__bottom {
      display: flex;
    }

    &__button {
      @include flex(center, center);
      gap: 10px;
      text-transform: uppercase;
      font-weight: 600;
      @include fontSize(15px, 18px);
      height: 48px;
      max-width: 370px;
      width: 100%;
      border-radius: 3px;

      &__file {
        background: $white;
        border: 2px solid $blue;
        color: $dark;
      }

      &__send {
        border-radius: 4px;
        background: $blue;
        border: 1px solid $white;
        color: $white;
        margin: 40px auto 0;
      }
    }

    .dropdown {
      width: 300px;
      display: inline-block;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 0 2px rgb(204, 204, 204);
      transition: all .5s ease;
      position: relative;
      font-size: 14px;
      color: #474747;
      height: 100%;
      text-align: left;

      .select {
        cursor: pointer;
        display: block;
        padding: 10px;
      }

      &:hover {
        box-shadow: 0 0 4px rgb(204, 204, 204);
      }

      &:active {
        background-color: #f8f8f8;
      }

      &.active:hover, &.active {
        box-shadow: 0 0 4px rgb(204, 204, 204);
        border-radius: 2px 2px 0 0;
        background-color: #f8f8f8
      }

      &-menu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        margin-top: 1px;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
        border-radius: 0 1px 2px 2px;
        overflow: hidden;
        display: none;
        max-height: 144px;
        overflow-y: auto;
        z-index: 9;

        li {
          padding: 10px;
          transition: all .2s ease-in-out;
          cursor: pointer;
        }
      }
    }

    //.dropdown.active .select > i {
    //  transform: rotate(-90deg)
    //}

    .dropdown .dropdown-menu {
      padding: 0;
      list-style: none
    }

    .dropdown .dropdown-menu li:hover {
      background-color: #f2f2f2
    }

    .dropdown .dropdown-menu li:active {
      background-color: #e2e2e2
    }
  }
}
