@import "mixins";
@import "fonts";
@import "variables";
@import "header";
@import "hero";
@import "order";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

html, body {
  background-color: white;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1202px;
  width: 100%;
  padding: 0 16px;
}

