@import "mixins";
@import "fonts";
@import "variables";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

html, body {
  background-color: white;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1202px;
  width: 100%;
  padding: 0 16px;
}

@import "header";
@import "hero";
@import "order";
@import "footer";

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

