$black: #000000;
$white: #FFFFFF;
$blue: #3E9CDC;
$blue-active: #43ABF0;
$blue-semi: #42A9ED;
$blue-border: #286690;
$dark: #272733;
$semi-white: #C3C3C3;
$border: #6F6D7B;
$btn-text: #2A2B30;
$gray: #BBBBBB;
$gray-dark: #C4C4C4;
$footer: #3D4050;
